.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: auto auto auto;
    gap: 5px; 
    width: 80%;
    margin: auto;
    text-align: center;
    background-color: white;
}
.item{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2ecc71;
    color: white;
    padding: 20px;
    font-size: 18px;
}
.item-1{
    grid-column: 1 / 4; 
}
.item-5{
    grid-column: 2 / 4; 
}
